{% extends "base.html" %}
{% block content %}
 <section id="resume" class="resume">
   <div class="container" data-aos="fade-up">

     <div class="section-title">
       <h2>Resume</h2>
       <p>Experienced python developer, skilled in full stack development, devops and machine learning.</p>
     </div>

     <div class="row">
       <div class="col-lg-6">
         <h3 class="resume-title">Summary</h3>
         <div class="resume-item pb-0">
           <h4>Jaymit Gupta</h4>
           <p><em>Innovative and deadline-driven Full stack developer with 3+ years of experience in python development, devops, RASA, Vxflex(Scaleio), machine learning and developing user-centered products.</em></p>
           <ul>
             <li>Hyderabad, India</li>
             <li>+91-9984471878</li>
             <li>jaymitgupta@gmail.com</li>
           </ul>
         </div>

         <h3 class="resume-title">Education</h3>
         <div class="resume-item">
           <h4>Master of Computer Application</h4>
           <h5>2017 - 2020</h5>
           <p><em>SASTRA Deemed to be University, Thanjavur, India</em></p>
           <p><ul>
             <li>Completed post graduation in Work Integrated Program mode</li>
             <li>AI and Cloud Computing as subjects</li></ul></p>
         </div>
         <div class="resume-item">
           <h4>Bachelor of Computer Application</h4>
           <h5>2014 - 2017</h5>
           <p><em>Chhatrapati Shahu Ji Maharaj University, Kanpur, India</em></p>
           <p><ul>
             <li>Completed graduation in computer application in regular mode</li>
             <li>Acted as a Placement Coordinator from 2016-2017</li></ul> </p>
         </div>
       </div>
       <div class="col-lg-6">
         <h3 class="resume-title">Professional Experience</h3>
         <div class="resume-item">
           <h4>System Engineer</h4>
           <h5>Jan, 2018 - Present</h5>
           <p><em>Tata Consultancy Services, Hyderabad, India </em></p>
           <ul>
             <li>Developed a troubleshooting software for Cloud Execution Environment</li>
             <li>Implemented Multi storage backend feature for the cloud environment using python, ansible and puppet</li>
             <li>Developed and deployed RASA based bot for technical documents. </li>
             <li>Written Robot cases for Cloud Execution Environment</li>
             <li>Designed VFLEX Storage solution for cloud </li>

             <li>Solved numereous issue involing storage softwares and hardware like nexenta and VXLEX </li>
           </ul>
         </div>
         <div class="resume-item">
           <h4>Graduate Trainee</h4>
           <h5>July 2017 - Dec 2017</h5>
           <p><em>Tata Consultancy Services, Chennai, India</em></p>
           <ul>
             <li>Trained in Machine learning and cloud computing</li>
             <li>Applied machine learning algo for the hand gesture detection gloves made for speech impaired people</li>
             <li>Created dataset for hand gesture detection using flex sensors</li>
             <li>Used leap motion for hand gesture detection</li>
           </ul>
         </div>
       </div>
     </div>

   </div>
 </section><!-- End Resume Section -->
{% endblock %}
